<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎄Santa Letter Box</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gradient-to-b from-green-600 via-green-500 to-red-500 font-sans h-screen">

	<div class="flex justify-center items-center min-h-screen">
	  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-xl mx-auto border border-gray-300">
	    <h2 class="text-3xl font-semibold text-gray-800 mb-8 text-center">Admin Login</h2>
	
	    <form method="post" action="admin/login">
	    
	      <div class="mb-4">
	        <label class="block text-sm font-medium text-gray-700">Email</label>
	        <input class="w-full p-1 border border-gray-300 rounded-md text-gray-800 bg-gray-100" type="email" name="email" required>
	      </div>
	      
	      <div class="mb-4">
	        <label class="block text-sm font-medium text-gray-700">Password</label>
	        <input class="w-full p-1 border border-gray-300 rounded-md text-gray-800 bg-gray-100" type="password" name="password" required>
	      </div>
	
	      <div class="flex justify-between mt-6">
	        <button type="submit" class="w-full sm:w-auto bg-blue-500 text-white py-3 px-6 rounded-md text-lg font-semibold hover:bg-blue-600 transition">
	          Login
	        </button>
	        <a href="/letters" class="w-full sm:w-auto bg-gray-500 text-white py-3 px-6 rounded-md text-lg font-semibold hover:bg-gray-600 transition">
	          Cancel
	        </a>
	      </div>
	    </form>
	     <p style="color: red;">[[${errorMessage}]]</p>
	  </div>
	 </div>
</body>

</html>