<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>🎄Santa Letter Box</title>
  	<link rel="stylesheet" href="/css/output.css">
  	<style>
	    body {
	      background: linear-gradient(to bottom, #22c55e, #16a34a, #ef4444);
	      background-attachment: fixed;
	    }
  </style>
  <script>
  	function getRandomEmoji() {
      const emojis = ['🎅', '🎄', '🎁', '🛷', '🎉', '❄️', '🔔', '🧑‍🎄'];
      const randomIndex = Math.floor(Math.random() * emojis.length);
      return emojis[randomIndex];
    }
  </script>
</head>
<body class="flex flex-col items-center justify-start min-h-screen p-8">
  <div class="w-full max-w-4xl space-y-8">
    <h1 class="text-4xl font-bold text-gray-100 mb-4 text-center">Letters sent to Santa</h1>
    <div class="text-center mb-6">
	  <a href="/letters/create" class="bg-red-600 text-white font-bold py-3 px-10 rounded-full shadow-lg hover:bg-red-700 transition-transform transform hover:scale-105 border border-black">
	     ✉️ Create a Letter
	  </a>
	  <a href="/" class="bg-blue-600 text-white font-bold py-3 px-8 rounded-full shadow-lg hover:bg-blue-700 transition-transform transform hover:scale-105 border border-black ml-4">
	    Go to Countdown
	  </a>
	  <a th:if="${session.adminUser != null}" 
		href="/admin/logout" 
		class="bg-red-500 text-white font-bold py-3 px-3 rounded-full shadow-lg hover:bg-blue-700 transition-transform transform hover:scale-105 border border-black ml-4">
	 	Logout
	 </a>
	</div>
    <div class="space-y-6">
      <div th:each="letter : ${letters}" class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-center mb-4">
  
          <div class="w-12 h-12 bg-gray-300 rounded-full flex items-center justify-center mr-4">
            <span class="text-3xl" id="emoji-{{letter.id}}"></span>
          </div>
          
          <div>
            <h2 class="font-semibold text-xl text-gray-800">
              <span th:text="${letter.firstName} + ' ' + ${letter.lastName}"></span>
            </h2>
            <p class="text-sm text-gray-500" th:text="${letter.createdAt.toString().substring(0, 10)}"></p>
          </div>
        </div>
        
        <pre class="text-lg text-gray-700 mb-4" th:text="${letter.letterText}"></pre>

        <div class="flex space-x-4">
			<a th:if="${session.adminUser != null}" 
			   th:href="@{/letters/edit(id=${letter.id})}" 
			   class="text-blue-500 hover:text-blue-700">
			   Edit
			</a>
			<a th:if="${session.adminUser != null}" 
			   th:href="@{/letters/delete(id=${letter.id})}" 
			   onclick="return confirm('Are you sure?')" 
			   class="text-red-500 hover:text-red-700">
			   Delete
			</a>
			<a th:if="${session.adminUser != null and letter.approved == 0}" 
			   th:href="@{/letters/approve(id=${letter.id})}" 
			   class="text-green-500 hover:text-green-700">
			   Approve
			</a>			
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const letters = document.querySelectorAll('[id^="emoji-"]');
      letters.forEach(letter => {
        letter.textContent = getRandomEmoji();
      });
    });
  </script>

</body>
</html>