<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎄Santa Letter Box</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gradient-to-b from-green-600 via-green-500 to-red-500 font-sans h-screen">
	<div class="flex justify-center items-center min-h-screen">
		<div class="w-full max-w-md bg-white p-8 rounded-lg shadow-xl mx-auto border border-gray-300">
			<h2 class="text-3xl font-semibold text-gray-800 mb-8 text-center">🎅 Letter Sent! 🎁</h2>
			<p class="text-lg text-gray-600 mb-6 text-center">
  				🎄 Your letter has been sent!<br> 
  				Please wait untill <strong>Elves</strong> hands them to <strong>Santa</strong>✨
			</p>
			<a href="/letters" class="w-full sm:w-auto bg-green-500 text-white py-3 px-6 rounded-md text-lg font-semibold hover:bg-red-600 transition flex items-center justify-center">
			  Return to Letters Page
			</a>
		</div>
	</div>
</body>
</html>