<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Christmas</title>
  <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-red-500 flex items-center justify-center min-h-screen">

  <div class="text-center bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome</h1>
    <a href="letters" class="bg-blue-500 text-red-500 py-2 px-4 rounded hover:bg-blue-600 transition">
      Letters
    </a>
  </div>
</body>

</html>